<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>PLANT HELPLINE</h1>
  <h2>The date and time on the server is: {{ time }}</h2>
  <h2> {{ text }} </h2>
  <a href="/auto/water/ON"><button>Turn ON Auto Watering</button></a>
  <a href="/auto/water/OFF"><button>Turn OFF Auto Watering</button></a> <br>
  <a href="/water_schedule"><button>Check Water Schedule</button></a>
  <a href="/last_watered"><button>Check Last Watered</button></a>
  <a href="/check_soil_status"><button>Check soil status</button></a> <br>
  <a href="/water"><button>Water Once</button></a> <a>
  <a href="/check_watering_duration"><button>Check watering duration</button></a> <br>
  <form action= "/result" method = "POST">
         <p>First water time [0-23] <input type = "text" name = "first_water" /></p>
         <p>Second water time [0-23] <input type = "text" name = "second_water" /></p>
	 <p>Watering duration [sec] [1-9] <input type = "text" name = "watering_time" /></p>
	 <p><input class="btn btn-primary"  type = "Submit" value = "Set Watering Parameters" ></p>
  </form>
  <h3>Don't write anything but digits in the fields above. The program is not ready for that.</h3>
  <h3>Remember to set the watering parameters before turning the Auto Watering on,</h3>
  <h3>otherwise the last stored parameters will be used.</h3>
  <font size="2" color="red"><font size="3" color="red"> DON'T PANIC!</font>
</body>
</html>
